:root{
    --background: #0f1724;
    --primaryum: #6a11cb;
    --primarytwo: #2575fc;
    --text: #e6eef8;
    --border: rgba(255,255,255,0.1);
    --table-head: rgba(255,255,255,0.05);
    --card: #1a2332;
    --erro: #e74c3c;
    --sucess: #2ecc71;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100%;
  background: linear-gradient(135deg,var(--background) 0%, var(--card) 100%);
  color: var(--text);
  line-height: 1.5;
}

main, header, footer {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

a{color: inherit; text-decoration: none;}

header{
    width: 100%;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background);
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    margin-top: 1rem;
}

h1 {
    font-size: 1.6rem;
    background: linear-gradient(135deg,var(--primaryum) 0%, var(--primarytwo) 100%);
    background-clip: text;
    color: transparent;
}

.nav-android{
    display: none;
    
}

.hamburger{
    display: none;
    flex-direction: column;
    border: none;
    cursor: pointer;
    padding: 5px;
    gap: 5px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: all 0.3s ease;
    color: var(--text);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav ul li {
    margin: 0;
}


.nav-link{
    display: flex;
    gap: 10px;
    align-items: center;
    opacity: 0.8;
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--text);
    cursor: pointer;
    font-weight: 600;
    transition: all 0.5s ease;
}

.nav-link.active, .nav-link:hover{
    background: linear-gradient(135deg,var(--primaryum) 0%, var(--primarytwo) 100%);
    color: #fff;
    opacity: 1;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(106, 17, 203, 0.3);
}

main{
    margin-top: 2rem auto;
    display: grid;
    gap: 2rem;
}

.section{
    display: none;
    background: var(--card);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: rgba(2,6,23,0.5);
    border: 1px solid var(--border);
}

.section.active{
    display: block;
}

.cadastrar-forms h2{
    background: linear-gradient(135deg,var(--primaryum) 0%, var(--primarytwo) 100%);
    background-clip: text;
    color: transparent;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.form-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-group label{
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--text);
}

.form-group input, .form-group select, .form-group textarea{
    padding: 10px 10px;
    border: 1px solid var(--border);
    border-radius: 10px;
    font-size: 15px;
    transition: all 0.2s ease;
    color: var(--text);
    background: rgba(255,255,255,0.05);
}

.form-group input::placeholder{
    color: rgba(255,255,255,0.5);
}

.form-group input:focus, .form-group select:focus, .form-group textarea:focus{
    outline: none;
    border-color: var(--primaryum);
    box-shadow: 0 0 0 5px rgba(106,17,203,0.2);
    background: rgba(255, 255, 255, 0.08);
}

.erro{
    color: var(--erro);
    font-size: 0.5rem;
    margin-top: 0.5rem;
    display: none;
}

.botao{
    padding: 10px 30px;
    background: linear-gradient(135deg, var(--primaryum) 0%, var(--primarytwo) 100%);
    color: white;
    font-weight: 600;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 15px;
}

.botao:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(37,117,252,0.3);
}

.procura{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    gap: 0;
}

.procura input{
    flex: 1;
    padding: 10px 15px;
    border-radius: 8px 0 0 8px;
    border: 1px solid var(--border);
    background: rgba(255,255,255,0.05);
    color: var(--text);
    border-right: none;
}

.procura button{
  padding: 10px 10px;
  border: 1px solid var(--border);
  border-left: none;
  background: linear-gradient(135deg, var(--primaryum) 0%, var(--primarytwo) 100%);
  color: white;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.procura button:hover{
    transform: translateY(-1px);
    box-shadow: 0 5px 15px rgba(37,117,252,0.2);
}

.tabela-container{
    overflow-x: auto;
    border-radius: 10px;
    border: 1px solid var(--border);
}

.tabela{
    width: 100%;
    border-collapse: collapse;
    min-width: 700px;
}

.tabela thead th{
    background: var(--table-head);
    text-align: left;
    padding: 1rem 1rem;
    font-weight: 700;
    color: var(--text);
    border-bottom: 1px solid var(--border);
    font-size: 1rem;
    text-transform: uppercase;
}

.tabela tbody td{
    padding: 1rem 1rem;
    color: var(--text);
    border-bottom: 1px solid var(--border);
    vertical-align: middle;
}

.tabela tbody tr:hover {
  background-color: rgba(37,117,252,0.1);
}

.botao-acao{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botao-acao:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.botao-acao.edit{
    background: var(--sucess);
    color: white;
}

.botao-acao.delete{
    background: var(--erro);
    color: white;
}

.botao-acao.edit:hover{
    background: #22a95b;
}

.botao-acao.delete:hover{
    background: #c0392b;
}




footer{
    text-align: center;
    padding: 2rem;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 2rem;
    border-top: 1px solid var(--border);
}

.modal{
    display: none;
    position: fixed;
    inset: 0px;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal .conteudo-modal{
    color: #333;
    background: #fff;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    position: relative;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.3);

}

.fechar {
    position: absolute;
    right: 1.2rem;
    top: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: #555;
}

.importante{
    color: var(--erro);
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.botao-modal{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.2rem;
}

.botao-modal button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botao-modal .cancelar{
    background: #95a5a6;
   color: white;
}

.botao-modal .confirmar{
    background: var(--erro);
    color: white;
}


